.information {
    position: relative;
    display: flex;
    justify-content: center;
}

.information__list {
    position: absolute;
    top: -86px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background: #fff;
    color: #2b2b2b;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    z-index: 2;
}

.information__list--item {
    padding: 1rem;
    width: 250px;
    display: flex;
    flex-direction: column;
    transition: all 1s;
}

.information__list--item-title {
    font-size: .7rem;
    color: #969696;
    text-transform: uppercase;
}

.information__list--item-info {
    padding: 1rem 3rem 0 0;
    border-right: 1px solid #969696;
    font-size: 1.5rem;
    height: 100%;
}

.information__list--item:last-child > .information__list--item-info {
    border: none;
}

@media screen and (max-width: 1063px) {
    .information__list--item {
        padding: 1rem 0 1rem 1rem;
        width: 195px;
    }
}

@media screen and (max-width: 857px) {
    .information__list {
        padding: .5rem;
    }
    .information__list--item {
        width: 270px;
        padding: 1rem 0;
        align-items: center;
    }

    .information__list--item-info {
        padding: 0;
        border: none;
    }
}