.searchBar {
    background-image: url('../../images/pattern-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 30vh;
}

.searchBar__title {
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.searchBar__form {
    display: flex;
    justify-content: center;
    padding: 0 1rem 7rem 1rem;
}

.searchBar__form--input {
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 1.125rem;
    padding: .7rem;
    min-width: 35%;
}

.searchBar__form--input::placeholder {
    font-size: 1rem;
}

.searchBar__form--button {
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 1.125rem;
    padding: .7rem 1rem;
    background: #2b2b2b;
}

.searchBar__form--button:hover {
    background: #000;
}

#circleSpinner {
    height: 15px;
    width: 15px;
    border: 4px rgba(255, 255, 255, 0.25) solid;
    border-top: 4px white solid;
    border-radius: 50%;
    -webkit-animation: spin2 1s infinite linear;
            animation: spin2 1s infinite linear;
  }
  
  @-webkit-keyframes spin2 {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
  @keyframes spin2 {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }